<div class="row lastelement">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
    	<h1 class="text-center greytext">In which field would you like to work?</h1>
      <div class="top-buffer-large bottom-padding bottom-border">
      	<%= link_to "Web applications", q5_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Mobile apps", q6_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Game development",r15_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Enterprise applications", r2_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I just want a secure job", r19_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 50%;"></div>    
      </div>
      <%= link_to "Previous question", q1_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>