<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center greytext">What kind of product are you planning to launch?</h1>
      <p class="text-center greytext">If your goal is to teach yourself to code a startup product, focus on one product platform initially. If you try to develop a web application and a mobile app at the sime time you will need to learn two completely different programming languages and development environments simultaneously.</p>
      <div class="top-buffer-large bottom-padding bottom-border">
        <%= link_to "Web application", q12_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Mobile app", q7_path, class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "Data science / artificial intelligence", "http://bit.ly/1dMt3lv", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to "I don't know yet","http://bit.ly/1L2XQrD", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="progress top-buffer-large top-border">
        <div class="progress-bar" style="width: 50%;"></div> 
      </div>
      <%= link_to "Previous question", q1_path, class: "btn btn-lg btn-default btn-block greytext top-buffer-large" %>
    </div>
  </div>
</div>