<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    	<h1 class="text-center">You should learn...</h1>
    	<h1 class="text-center essence">...HTML, CSS and Javascript...</h1>
    	<div class="top-buffer-large">
    		<%= image_tag "html.png", class: "img-responsive center-block" %>
    		<p class="top-buffer-large">You’re interested in the visual aspect of web applications, so you should aim to become a front-end web developer. The front-end of any web application consists of three programming languages: HTML, CSS and JavaScript. Mastering those languages will let you turn any web application into a beautiful and user-friendly product.</p>
    	</div>
    	<h1 class="text-center essence"><a href="http://bit.ly/1Irs2Lg" target="_blank"> ...on Onemonth.com </a></h1>
    	<div class="top-buffer-large">
    		<%= link_to image_tag("onemonthhtml.png", alt: "Onemonth Screenshot", class: "img-responsive center-block"), 'http://bit.ly/1Irs2Lg', target:"_blank" %>
    		<p class="top-buffer-large">
          The best place to jump-start your career as a front-end developer is the <a href="http://bit.ly/1Irs2Lg" target="_blank">OneMonth HTML</a> Tutorial by Chris Castiglione. Through 8 hours of video lessons you will create an about me page, a blog template and a product landing page. Within those projects you learn how to integrate features such as embedded YouTube videos, Google Maps and photo galleries. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
    	</div>
    	<div class="top-buffer-large">
    		<%= link_to "Check out One Month now!", 'http://bit.ly/1Irs2Lg', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
      <p class="text-center">What do you like or dislike about your YLEARN experience? <br><%= mail_to "valentin@ylearn.io", "Share your feedback!" %></p>
  	</div>
  </div>
</div>

