<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    	<h1 class="text-center">You should learn...</h1>
    	<h1 class="text-center essence">...Swift...</h1>
    	<div class="top-buffer-large">
    		<%= image_tag "swift.png", class: "img-responsive center-block" %>
    		<p class="top-buffer-large">Launching an iOS mobile app start-up? Learn Swift. Apple introduced the language in 2014 as a successor to the Objective-C programming language, which was used to develop iOS and Mac applications beforehand. Compared to Obj-C, Swift has a very clean and easy to read syntax which makes learning much easier.</p>
        <p>Why shouldn’t you learn Objective-C? It’s a good language to know if you want a career working on existing apps, many of which still run on Obj-C. As a start-up you’re gonna be building apps from scratch. Choose Swift right away and you’ll reach your goals faster.</p>
    	</div>
      <h1 class="text-center essence"><a href="http://bit.ly/1IRMkxH" target="_blank"> ...on Onemonth.com </a></h1>
      <div class="top-buffer-large">
        <%= link_to image_tag("onemonthswift.png", alt: "OneMonthrails", class: "img-responsive center-block"), 'http://bit.ly/1IRMkxH', target:"_blank" %>
        <p class="top-buffer-large">The best place to jump into Swift iOS development is the <a href="http://bit.ly/1IRMkxH" target="_blank">One Month iOS tutorial</a> by Alfie Hanssen, lead mobile engineer at Vimeo. During 8 hours of video tutorial you will become familiar with the basics of Swift, get used to the development environment and create your very own clone of Instagram ready to submit to the app store. The course does not assume any prior knowledge. All you need to get started is a Mac computer and a solid Internet connection.</p>
      </div>
      <div class="top-buffer-large">
        <%= link_to "Check out One Month iOS now!", 'http://bit.ly/1IRMkxH', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
      <p class="text-center">Full disclosure:</p>
      <p class="text-center">The links above are affiliate links that will earn us a commission if you purchase through them. If you do, we absolutely appreciate it and if you have any questions about any of the recommendations please <%= mail_to "valentin@ylearn.io", "Let us know" %>! We guarantee that we always recommend the tutorial that let’s you best reach your goals, irrespective of the commissions we earn.</p>
      <p class="text-center">________________________________________________________</p>
      <p class="text-center">What do you like or dislike about your YLEARN experience? <br><%= mail_to "valentin@ylearn.io", "Share your feedback!" %></p>
  	</div>
  </div>
</div>

