<div class="row lastelement">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    	<h1 class="text-center">You should learn...</h1>
    	<h1 class="text-center essence">...Ruby...</h1>
    	<div class="top-buffer-large">
    		<%= image_tag "ruby.png", class: "img-responsive center-block" %>
    		<p class="top-buffer-large">You’re interested in the technical aspects of web applications, so you should aim to become a back-end web developer. The back-end is the ’under the hood’ area of a web application where all the technical magic is performed. The back-end is complemented by the front-end; the part of the application you can see and interact with.</p>
    		<p>Ruby is a good choice for programming the back-end of web applications. Ruby is a modern and upcoming language gaining popularity in a broad range of industries: especially amongst start-ups where it is the programming language of choice. Ruby is not typically taught in Computer Science Degrees so employers often have a hard time recruiting qualified Ruby developers. Adding Ruby to your CV will really help you to stand out on the job market.</p>
    		<p>Ruby is designed for fun and productive coding. It’s mostly known for its popular web framework, Ruby on Rails. Rails is considered a breakthrough: not only has it lowered the barriers of entry to programming, it also cuts web application development times in half. If you ever get stuck, Ruby has an exceptional online community that can offer help and advice. Websites built with Ruby include Twitter, Hulu and Slideshare.</p>
    	</div>
    	<h1 class="text-center essence"><a href="http://bit.ly/1zNe4lv" target="_blank"> ...on Onemonth.com </a></h1>
      <div class="top-buffer-large">
        <%= link_to image_tag("onemonthrails.png", alt: "One Month Screenshot", class: "img-responsive center-block"), 'http://bit.ly/1zNe4lv', target:"_blank" %><p class="top-buffer-large">The best place to get started with Ruby on Rails development is the <a href="http://bit.ly/1zNe4lv" target="_blank">One Month Rails tutorial</a> by Mattan Griffel. The 8 hours of video tutorial familiarizes you with the basics of the language, introduces you to the development environment, and guides you as you create and deploy your very own clone of Pinterest. One Month Rails is probably the best Ruby on Rails beginner tutorial out there: Google it and you’ll find lots of rave reviews. The course does not assume any prior knowledge. All you need to get started is a Windows, Mac or Linux computer and a solid Internet connection.</p>
      </div>
      <div class="top-buffer-large">
        <%= link_to "Check out One Month Rails now!", 'http://bit.ly/1zNe4lv', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
    	<div class="top-buffer-large">
    		<%= link_to "Check out One Month Rails now!", 'https://onemonth.com/courses/one-month-rails', class: "btn btn-lg btn-primary btn-block", target:"-blank" %>
      </div>
      <div class="top-buffer-large bottom-padding">
        <%= link_to "Start again", root_path, class: "btn btn-lg btn-default btn-block" %>
      </div>
  	</div>
  </div>
</div>

